body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

header {
  background-color: #06151a;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

section {
  background: linear-gradient(180deg, #17E4B9 0%, #091D24 100%);
  display: flex;
  justify-content: center;
}

section img {
  max-width: 90%;
}

.event-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #212121;
  padding: 32px 28px;
  border-radius: 16px;
  max-width: 384px;
  max-height: 90%;
  margin: 64px auto;
  color: white;
}

.event-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none ;
  padding: 0 ;
  margin: 0;
}

.event-form h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}

.event-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.event-form input {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #4A4949;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: white;
  padding: 8px 16px;
}

.event-form input::placeholder {
  color: #4A4949;
}